.featured-races {
  padding: 2rem;
  color: black; /* Set the text color to ensure readability on the background */
}

.featured-races h2 {
  color: black;
}

.card-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

/* Additional styling for the FeaturedRaceCard component */
.card-container .card {
  margin-bottom: 20px;
}